.coaster-grid {
  display: grid;
  gap: 16px;
}

.coaster-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background: white;
}

.coaster-card:hover {
  transform: scale(1.01);
  background-color: rgb(242, 235, 235);
}

.coaster-card h2 {
  color: black;
}

.coaster-meta {
  margin: 4px 0;
}

.coaster-search {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.coaster-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .coaster-grid {
    grid-template-columns: repeat(auto-fill,
        minmax(280px, 1fr));
  }
}